<div class="card">
  <a [routerLink]="4021">
    402 - 1 | Lack of penetration
    <img src="assets/images/ref-402-1.png" alt="" class="schematic">
  </a>
</div>

<div class="card">
  <a [routerLink]="4023">
    402 - 3 | Lack of penetration
    <img src="assets/images/ref-402-3.png" alt="" class="schematic">
  </a>
</div>
<!--
<div class="card">
  <a [routerLink]="4024">
    402 - 4 | Lack of penetration
    <img src="assets/images/ref-402-4.png" alt="" class="schematic">
  </a>
</div>
-->
<div class="card">
  <a [routerLink]="512">
    512 | Excessive asymmetry of fillet weld (excessive unequal leg length)
    <img src="assets/images/ref-512.png" alt="" class="schematic">
  </a>
</div>
<!--
<div class="card">
  <a [routerLink]="515">
    Root concavity
    <img src="assets/images/ref-515.png" alt="" class="schematic">
  </a>
</div>

<div class="card">
  <a [routerLink]="617">
    Incorrect root gap for fillet welds
    <img src="assets/images/ref-617.png" alt="" class="schematic">
  </a>
</div>

<div class="card">
  <a [routerLink]="2024">
    Crater pipe
    <img src="assets/images/ref-2024.png" alt="" class="schematic">
  </a>
</div>

<div class="card">
  <a [routerLink]="2025">
    End crater pipe
    <img src="assets/images/ref-2025.png" alt="" class="schematic">
  </a>
</div>

<div class="card">
  <a [routerLink]="4021">
    Incomplete root penetration
    <img src="assets/images/ref-4021.png" alt="" class="schematic">
  </a>
</div>

<div class="card">
  <a [routerLink]="507">
    Linear misalignment
    <img src="assets/images/ref-507.png" alt="" class="schematic">
  </a>
</div>

<div class="card">
  <a [routerLink]="5213">
    Excessive convexity
    <img src="assets/images/ref-5213.png" alt="" class="schematic">
  </a>
</div>

<div class="card">
  <a [routerLink]="5214">
    Excessive convexity
    <img src="assets/images/ref-5214.png" alt="" class="schematic">
  </a>
</div>
-->
<div class="view" *ngIf="router.url.length > 1">
  <div class="view-shade" [routerLink]="['']"></div>
  <div class="view-content">
    <router-outlet></router-outlet>
  </div>
</div>