html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

body {
    padding: 1em;
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.schematic {
    display: block;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.quality-level {
    display: inline-block;
    background-color: #eee;
    width: 1em;
    text-align: center;
    height: 1em;
    padding: 0.25em;
    margin-right: 0.25em;

    &.matching {
        background-color: rgb(173, 223, 59);
    }
}

.field {
    margin: 1em;
    [contenteditable] {
        border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
        margin-left: 0.5em;
        margin-right: 0.5em;
        display: inline-block;
        width: auto;
        outline: none;
        font-size: 1.3em;
    }
}